---
---

div#scene > div {
    display: none;
}

div#scene > div#section-controls {
    display: block;
}

div#scene.overview div#section-vision,
div#scene.overview div#section-themes {
    display: block;
}

div#scene.themes div#section-themes {
    display: block;
}

div#scene.goals div#section-goals {
    display: block;
}

div#scene.problems div#section-problems {
    display: block;
}

div#scene.releases div#section-releases {
    display: block;
}

div#scene.archive div#section-archive {
    display: block;
}

div#scene.help div#section-help {
    display: block;
}

div#scene.all div#section-vision,
div#scene.all div#section-themes,
div#scene.all div#section-goals,
div#scene.all div#section-problems,
div#scene.all div#section-releases,
div#scene.all div#section-archive,
div#scene.all div#section-help {
    display: block;
}

/* ?filter-* URLs */

{% for theme in site.data.themes %}

div#filter.filter-theme-{{theme.id}} #section-goals .goal {
    display: none;
}

div#filter.filter-theme-{{theme.id}} #section-goals .theme-{{theme.id}} {
    display: block;
}

{% endfor %}

/* ?select-* URLs */

{% for theme in site.data.themes %}

div#select.select-theme-{{theme.id}} #section-themes .theme {
    display: none;
}

div#select.select-theme-{{theme.id}} #section-themes #theme-{{theme.id}} {
    display: block;
}

div#select.select-theme-{{theme.id}} .details {
    display: block;
}

{% endfor %}

{% for goal in site.data.goals %}

div#select.select-goal-{{goal.id}} #section-goals .goal {
    display: none;
}

div#select.select-goal-{{goal.id}} #section-goals #goal-{{goal.id}} {
    display: block;
}

div#select.select-goal-{{goal.id}} .details {
    display: block;
}

{% endfor %}

{% for release in site.data.releases %}

div#select.select-release-{{release.id | replace: ".", "_" }} #section-releases .release {
    display: none;
}

div#select.select-release-{{release.id | replace: ".", "_" }} #section-releases #release-{{release.id | replace: ".", "_" }} {
    display: block;
}

{% endfor %}


/* Stuff */

/* Bottom items aren't displayed by default */
.bottom {
    display: none;
}

/* Show bottom items when the 'bottom' button is pressed */
div#options.option-bottom .bottom {
    display: block;
}

/* Details are only displayed when a single thing is selected with ?select- */
.details {
    display: none;
}

/* Oh, but they are also displayed when the 'details' button is on */
div#options.option-details .details {
    display: block;
}

/* Section-level exposition is turned off when single things are displayed */
div#select.select-active .explain-section {
    display: none;
}
