---
title: Battleplan Rust - A view into the Rust roadmap
layout: incredible
---

<h1>Battleplan Rust</h1>

<div id="section-controls">
  <span id="scene-overview" class="scene">overview</span>
  &nbsp;|&nbsp;
  <span class="scene">themes</span>
  <span class="scene">goals</span>
  <span class="scene">problems</span>
  <span class="scene">teams</span>
  <span class="scene">releases</span>
  <span class="scene">valhalla</span>
  <span class="scene">help</span>
  &nbsp;|&nbsp;
  <span class="scene">all</span>
  &nbsp;|&nbsp;
  <span id="toggle-bottom" class="toggle">bottom</span>
  <span id="toggle-details" class="toggle">details</span>
</div>

<div id="section-vision">

  <h2>Vision Statement</h2>

  {{ site.data.vision | markdownify }}

</div>

<div id="section-themes">

  <h2>Themes</h2>

  <p class="explain-section">
    Themes are lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Proin tristique leo ac ipsum finibus
    egestas. Cras elit tortor, ornare sed arcu non, laoreet egestas
    justo. Vestibulum a pulvinar nisl. Nullam condimentum, quam in
    laoreet placerat, risus nunc sodales ipsum, convallis fringilla
    massa ligula in ante. Suspendisse hendrerit metus vitae tincidunt
    varius. Nullam tristique varius posuere. Morbi auctor sit amet
    urna a porttitor. Fusce nisi dolor, tincidunt ut sem id, finibus
    tincidunt tellus. Aenean suscipit risus orci, in condimentum metus
    efficitur sit amet. Duis pharetra congue eleifend. Mauris accumsan
    aliquet mi nec ullamcorper. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
  </p>

  {% for theme in site.data.themes %}

    {% if theme.top %}
      {% assign top-class = "top" %}
    {% else %}
      {% assign top-class = "bottom" %}
    {% endif %}

    <div id="theme-{{theme.id}}"
        class="theme {{top-class}}">
      <h3>
        {{theme.name}}
        {% include tag.html type="theme" id=theme.id %} <-- click for details
      </h3>
      <div>{{ theme.pitch | markdownify }}</div>

      <div>
        {% for goal in site.data.goals %}
          {% if goal.theme != theme.id %}
            {% continue %}
          {% endif %}

          {% if goal.top %}
            {% assign class = "top" %}
          {% else %}
            {% assign class = "bottom" %}
          {% endif %}

            <div class="{{class}}">
              {% include tag.html type="goal" id=goal.id %}
              <em>{{goal.goal}}</em>.
              {% include tag.html type="release" id=goal.release %}
              <div class="details">
                <div>{{goal.pitch | markdownify }}</div>
                <div>Tracking link: <a href="{{goal.tracking-link}}">{{goal.tracking-link}}</a></div>
              </div>
              {% include goal-details.html id=goal.id %}
            </div>
        

        {% endfor %}

      </div>
      
      <div>
        {% include tag.html type="team" id=theme.team %}
      </div>
    </div>

  {% endfor %}

</div>

<div id="section-goals">

  <h2>Goals</h2>

  <p class="explain-section">
    Goals are lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Proin tristique leo ac ipsum finibus
    egestas. Cras elit tortor, ornare sed arcu non, laoreet egestas
    justo. Vestibulum a pulvinar nisl. Nullam condimentum, quam in
    laoreet placerat, risus nunc sodales ipsum, convallis fringilla
    massa ligula in ante. Suspendisse hendrerit metus vitae tincidunt
    varius. Nullam tristique varius posuere. Morbi auctor sit amet
    urna a porttitor. Fusce nisi dolor, tincidunt ut sem id, finibus
    tincidunt tellus. Aenean suscipit risus orci, in condimentum metus
    efficitur sit amet. Duis pharetra congue eleifend. Mauris accumsan
    aliquet mi nec ullamcorper. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
  </p>

  {% for goal in site.data.goals %}

    {% if goal.top %}
      {% assign top-class = "top" %}
    {% else %}
      {% assign top-class = "bottom" %}
    {% endif %}

    <div id="goal-{{goal.id}}"
        class="goal theme-{{goal.theme}} {{top-class}}">
      <h3>
        {{goal.goal}}
        {% include tag.html type="goal" id=goal.id %} <-- click for details
      </h3>
      <div>{{goal.pitch | markdownify }}</div>
      <div>Tracking link: <a href="{{goal.tracking-link}}">{{goal.tracking-link}}</a></div>
      {% include goal-details.html id=goal.id %}

      <div>
        {% include tag.html type="theme" id=goal.theme %}
        {% for theme in site.data.themes %}
          {% if theme.id != goal.theme %}
            {% continue %}
          {% endif %}
          {% include tag.html type="team" id=theme.team %}
        {% endfor %}
        {% include tag.html type="release" id=goal.release %}
      </div>
    </div>

  {% endfor %}

</div>

<div id="section-problems">

  <h2>Problems</h2>

  <p class="explain-section">
    Problems are lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Proin tristique leo ac ipsum finibus
    egestas. Cras elit tortor, ornare sed arcu non, laoreet egestas
    justo. Vestibulum a pulvinar nisl. Nullam condimentum, quam in
    laoreet placerat, risus nunc sodales ipsum, convallis fringilla
    massa ligula in ante. Suspendisse hendrerit metus vitae tincidunt
    varius. Nullam tristique varius posuere. Morbi auctor sit amet
    urna a porttitor. Fusce nisi dolor, tincidunt ut sem id, finibus
    tincidunt tellus. Aenean suscipit risus orci, in condimentum metus
    efficitur sit amet. Duis pharetra congue eleifend. Mauris accumsan
    aliquet mi nec ullamcorper. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
  </p>

  {% for problem in site.data.problems %}

    <div id="problem-{{problem.id}}" class="problem">
      <h3>
        {% include tag.html type="problem" id=problem.id %}
      </h3>
      <div>{{problem.pitch | markdownify }}</div>
      <div><em>Links: TODO</em></div>

      <div>
        {% include tag.html type="theme" id=problem.theme %}
        {% for theme in site.data.themes %}
          {% if theme.id != problem.theme %}
            {% continue %}
          {% endif %}
          {% include tag.html type="team" id=theme.team %}
        {% endfor %}
      </div>
    </div>

  {% endfor %}

</div>

<div id="section-teams">

  <h2>Teams</h2>

  <p class="explain-section">
    Teams are lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Proin tristique leo ac ipsum finibus
    egestas. Cras elit tortor, ornare sed arcu non, laoreet egestas
    justo. Vestibulum a pulvinar nisl. Nullam condimentum, quam in
    laoreet placerat, risus nunc sodales ipsum, convallis fringilla
    massa ligula in ante. Suspendisse hendrerit metus vitae tincidunt
    varius. Nullam tristique varius posuere. Morbi auctor sit amet
    urna a porttitor. Fusce nisi dolor, tincidunt ut sem id, finibus
    tincidunt tellus. Aenean suscipit risus orci, in condimentum metus
    efficitur sit amet. Duis pharetra congue eleifend. Mauris accumsan
    aliquet mi nec ullamcorper. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
  </p>

  {% for team in site.data.teams %}

  <div id="team-{{team.id}}" class="team">
    <h3>
      {{team.name}}
      {% include tag.html type="team" id=team.id %}
    </h3>
      <div>
        {% for theme in site.data.themes %}
          {% if theme.team != team.id %}
            {% continue %}
          {% endif %}
          {% include tag.html type="theme" id=theme.id %}
        {% endfor %}
        {% for goal in site.data.goals %}
          {% for theme in site.data.themes %}
            {% if theme.team != team.id %}
              {% continue %}
            {% endif %}
            {% if goal.theme != theme.id %}
              {% break %}
            {% endif %}
            {% include tag.html type="goal" id=goal.id %}
          {% endfor %}
        {% endfor %}
        {% for problem in site.data.problems %}
          {% for theme in site.data.themes %}
            {% if theme.team != team.id %}
              {% continue %}
            {% endif %}
            {% if problem.theme != theme.id %}
              {% break %}
            {% endif %}
            {% include tag.html type="problem" id=problem.id %}
          {% endfor %}
        {% endfor %}
      </div>
  </div>

  {% endfor %}

</div>

<div id="section-releases">
  <h2>Rust Releases</h2>

  <h3>Future releases</h3>

  {% for release in site.data.releases %}

    {% if release.future %}
      <div id="release-{{release.id | replace: ".", "_" }}" class="release">
        {% include tag.html type="release" id=release.id %}
        {% for goal in site.data.goals %}
          {% if goal.release != release.id %}
            {% continue %}
          {% endif %}
          {% if goal.top %}
            {% assign class = "top" %}
          {% else %}
            {% assign class = "bottom" %}
          {% endif %}
          <div class="{{class}}">
            {% include tag.html type="goal" id=goal.id %}
            <em>{{goal.goal}}</em>.
          </div>
        {% endfor %}
      </div>
    {% endif %}

  {% endfor %}

  <h3>Past releases</h3>

  {% for release in site.data.releases %}

    {% if release.future %}
      {% continue %}
    {% endif %}

    <div id="release-{{release.id}}" class="release">
      {% include tag.html type="release" id=release.id %}
    </div>

  {% endfor %}

</div>

<div id="section-valhalla">
  <h2>Hall of Heroes</h2>

  This is where we archive completed goals. Find some way to include the
  names of everybody who participated.
</div>

<div id="section-help">
  <h2>What the hell is this?</h2>

  <p>TODO answer the above question</p>

  <h3>Important concepts</h3>

  <ul>
    <li><em>Themes</em> are ...
      Themes are indicated with the indomitable red
      <span class="tag tag-theme">theme</span>
      tags.

    <li><em>Goals</em> are ...
      Goals are indicated with the powerful green
      <span class="tag tag-goal">goal</span>
      tags.

    <li><em>Problems</em> is ...
      Challenges we are interested in tackling are indicated with the powerful purple
      <span class="tag tag-problem">problem</span>
      tags.

    <li><em>Tracking Issues</em>

    <li><em>RFCs</em>

    <li><em>Features</em>

    <li><em>Teams</em> are ...
      Teams are indicated with fearless blue
      <span class="tag tag-team">team</span>
      tags.
  </ul>

  <h3>How to help</h3>

  <p>TODO</p>

</div>
